---
import type { InferGetStaticParamsType } from "astro";
import { PortableText } from "astro-portabletext";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../utils";
import { urlFor } from "../../utils/image";
import { getPost, getPosts } from "../../utils/sanity";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const posts = await getPosts();
  return posts.map((post) => ({
    params: { slug: post.slug.current },
  }));
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
const { slug } = Astro.params as Params;

const post = await getPost(slug);
---

<Layout title={post.title!}>
  <section class="w-full max-w-4xl mx-auto my-8 px-4">
    {
      post.mainImage ? (
        <img
          class="w-full h-[200px] sm:h-[380px] object-fit rounded-lg"
          src={urlFor(post.mainImage).url()}
          alt="Cover image"
        />
      ) : (
        <div class="w-full h-[200px] sm:h-[380px] bg-gray-200 flex items-center justify-center rounded-lg">
          <p class="text-gray-500 text-sm">No Cover Image</p>
        </div>
      )
    }
    <div class="mt-6">
      <h1 class="text-3xl sm:text-5xl font-extrabold text-gray-800 leading-tight mb-4">
        {post.title}
      </h1>
      <p class="text-gray-600 text-sm font-medium mb-2">
        Published on {formatDate(post._createdAt)}
      </p>
      <p class="text-gray-700 text-lg font-serif mb-6">
        {post.excerpt}
      </p>
      <div class="prose prose-sm sm:prose-lg max-w-none text-gray-800">
        <PortableText value={post.body} />
      </div>
    </div>
  </section>
</Layout>
