---
import { formatDate } from "../utils";
import { urlFor } from "../utils/image";
import type { Post } from "../utils/sanity";

interface Props {
  post: Post;
}

const { post } = Astro.props;
---

<div class="flex flex-col p-2 relative border-b border-gray-300 sm:border sm:border-b-0 rounded-t sm:rounded-none sm:last:rounded-b sm:last:border-b">
  {
    post.mainImage ? (
      <img
        class="w-full h-[231px] object-cover"
        src={urlFor(post.mainImage).width(500).height(300).url()}
        alt="Cover image"
      />
    ) : (
      <div class="w-full h-[231px] bg-black" />
    )
  }
  <div class="mt-0 mx-1 sm:mx-4">
    <h3 class="font-sans font-extrabold text-[var(--font-size-7)] leading-[var(--line-height-6)] tracking-tight mt-3 sm:mt-4">
      <a
        class="text-black no-underline relative hover:opacity-80 transition-opacity duration-200 before:absolute before:inset-0"
        href={`/post/${post.slug.current}`}
      >
        {post.title}
      </a>
    </h3>
    <p class="font-serif font-normal text-[var(--font-size-4)] leading-[var(--line-height-3)] mt-0">
      {post.excerpt}
    </p>
    <p class="font-sans font-semibold text-[var(--font-size-1)] mt-[calc(var(--space-4)+7px)]">
      {formatDate(post._createdAt)}
    </p>
  </div>
</div>

